In [1]:
import tushare as ts

In [2]:
df300 = ts.get_hs300s()

In [3]:
df300

          date    code  name  weight
0   2020-05-29  601899   NaN    0.40
1   2020-05-29  601328   NaN    1.08
2   2020-05-29  600977   NaN    0.08
3   2020-05-29  600566   NaN    0.06
4   2020-05-29  600196   NaN    0.24
..         ...     ...   ...     ...
295 2020-05-29  000895   NaN    0.30
296 2020-05-29  000069   NaN    0.18
297 2020-05-29  002939   NaN    0.03
298 2020-05-29  002252   NaN    0.13
299 2020-05-29  000728   NaN    0.12

[300 rows x 4 columns]

In [7]:
ts.get_h_data('601899', start='2020-06-05')

[Getting data:]

Empty DataFrame
Columns: []
Index: []