In [27]:
#显示所有列
pd.set_option('display.max_columns', None)
#显示所有行
pd.set_option('display.max_rows', None)
#设置value的显示长度为100，默认为50
pd.set_option('max_colwidth',100)

# 网易

In [1]:
import os
import urllib
base_dir = 'data/'

In [5]:
base_urls = {
   'zycwzb':'http://quotes.money.163.com/service/zycwzb_{}.html?type=report', # '主要财务指标':
   'cwbbzy':'http://quotes.money.163.com/service/cwbbzy_{}.html', # '财务报表摘要':
   'xjllb':'http://quotes.money.163.com/service/xjllb_{}.html', # '现金流量表':
   'lrb':'http://quotes.money.163.com/service/lrb_{}.html', # '利润表':
   'zcfzb':'http://quotes.money.163.com/service/zcfzb_{}.html', # '资产负债表':
}

In [6]:
codes = [600779]

In [7]:
def download_csvs(code):
    print(f'Start downloading files for {code}')
    for key, url in base_urls.items():
        file_path = base_dir + f'{code}_{key}.csv'
        url = url.format(code)
        urllib.request.urlretrieve(url, file_path)
        print(f'Successfully download {key}')
    print(f'Done for {code}')

In [8]:
download_csvs(codes[0])

Start downloading files for 600779
Successfully download zycwzb
Successfully download cwbbzy
Successfully download xjllb
Successfully download lrb
Successfully download zcfzb
Done for 600779

# ts_pro

In [12]:
import tushare as ts

In [40]:
pro = ts.pro_api()

#查询当前所有正常上市交易的股票列表
df_stock_lists = pro.stock_basic(fields='ts_code,symbol,name,area,industry,list_date')

In [78]:
cur_stocks = ','.join(df_stock_lists.ts_code[:3])

In [82]:
df = pro.fina_indicator(ts_code=cur_stocks, start_date='20150101', end_date=None limit=10)

In [85]:
pro.fina_indicator(ts_code=cur_stocks, start_date='20191231', end_date=None, limit=10)

,ts_code,ann_date,end_date,eps,dt_eps,total_revenue_ps,revenue_ps,capital_rese_ps,surplus_rese_ps,undist_profit_ps,extra_item,profit_dedt,gross_margin,current_ratio,quick_ratio,cash_ratio,ar_turn,ca_turn,fa_turn,assets_turn,op_income,ebit,ebitda,fcff,fcfe,current_exint,noncurrent_exint,interestdebt,netdebt,tangible_asset,working_capital,networking_capital,invest_capital,retained_earnings,diluted2_eps,bps,ocfps,retainedps,cfps,ebit_ps,fcff_ps,fcfe_ps,netprofit_margin,grossprofit_margin,cogs_of_sales,expense_of_sales,profit_to_gr,saleexp_to_gr,adminexp_of_gr,finaexp_of_gr,impai_ttm,gc_of_gr,op_of_gr,ebit_of_gr,roe,roe_waa,roe_dt,roa,npta,roic,roe_yearly,roa2_yearly,debt_to_assets,assets_to_eqt,dp_assets_to_eqt,ca_to_assets,nca_to_assets,tbassets_to_totalassets,int_to_talcap,eqt_to_talcapital,currentdebt_to_debt,longdeb_to_debt,ocf_to_shortdebt,debt_to_eqt,eqt_to_debt,eqt_to_interestdebt,tangibleasset_to_debt,tangasset_to_intdebt,tangibleasset_to_netdebt,ocf_to_debt,turn_days,roa_yearly,roa_dp,fixed_assets,profit_to_op,q_saleexp_to_gr,q_gc_to_gr,q_roe,q_dt_roe,q_npta,q_ocf_to_sales,basic_eps_yoy,dt_eps_yoy,cfps_yoy,op_yoy,ebt_yoy,netprofit_yoy,dt_netprofit_yoy,ocf_yoy,roe_yoy,bps_yoy,assets_yoy,eqt_yoy,tr_yoy,or_yoy,q_sales_yoy,q_op_qoq,equity_yoy
0,000002.SZ,20200428,20200331,0.1110,0.1110,4.2270,4.2270,1.0918,6.2666,8.5472,2.321563e+08,1.017203e+09,1.494162e+10,1.1457,0.4299,0.3219,20.7013,0.0331,3.9085,0.0275,4.703531e+09,7.055560e+09,NaN,-7.002472e+09,1.507413e+09,1.173108e+12,2.281024e+10,2.697657e+11,9.649412e+10,1.513467e+11,1.844060e+11,1.034117e+11,5.438768e+11,1.674277e+11,0.1105,16.6928,-0.2614,14.8138,0.6462,0.6243,-0.6196,0.1334,5.0870,31.2754,68.7246,12.7323,5.0870,2.5979,5.4040,4.7303,NaN,90.1547,10.0959,14.7685,0.6633,0.66,0.5400,0.4067,0.1401,0.6653,2.6532,1.6268,84.2446,6.3470,9.2103,83.3311,16.6689,8.6991,49.6005,34.6887,86.3341,13.6659,-0.0023,5.3470,0.1287,0.6994,0.1033,0.5610,1.5685,-0.0020,2476.8751,0.5604,0.0720,8.898950e+10,10.0382,2.5979,90.1547,0.6633,0.5400,0.1401,-6.1829,8.8235,8.8235,89.1975,-18.0492,-18.3255,11.4876,-9.86,88.9421,-6.8978,0.3221,0.5703,0.3219,-1.2409,-1.2409,-1.2409,-86.0810,19.7475
1,000001.SZ,20200421,20200331,0.4000,0.4000,1.9543,1.9543,4.1645,0.5555,6.2375,4.200000e+07,8.506000e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0094,7.555000e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.318250e+11,0.4405,14.5528,0.9300,6.7930,-0.0628,NaN,NaN,NaN,22.5386,NaN,NaN,NaN,22.5386,NaN,27.9439,NaN,NaN,NaN,28.9986,NaN,2.5695,2.77,2.5569,NaN,0.2118,NaN,10.2780,NaN,91.4731,11.7276,12.1312,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.7277,0.0932,NaN,NaN,NaN,NaN,0.0048,NaN,0.8472,0.2118,1.102500e+10,28.8931,NaN,NaN,2.5695,2.5569,0.2118,47.4318,5.2632,11.1111,-70.0000,13.7685,13.3078,14.7999,14.60,-66.1759,-18.2425,3.4000,4.9054,12.5796,16.7816,16.7816,16.7816,97.2382,40.4152
2,000004.SZ,20200428,20200331,0.0231,0.0231,0.1409,0.1409,7.2677,0.0813,0.1089,3.737658e+05,3.442258e+06,1.931676e+07,7.4597,7.4597,6.0587,0.0894,0.0492,10.3827,0.0156,3.786386e+06,4.227439e+06,NaN,-9.045562e+07,-8.345562e+07,5.511931e+07,4.392489e+06,7.000000e+06,-5.983990e+07,3.847205e+08,4.012705e+08,3.414306e+08,1.417845e+09,3.139217e+07,0.0231,8.4579,-0.2299,0.1902,-0.4908,0.0256,-0.5480,-0.5056,15.3756,83.0721,16.9279,66.5638,15.3756,27.1631,40.1598,-0.7592,NaN,83.7166,19.0731,18.1802,0.2740,0.27,0.2471,0.2845,0.2406,0.2432,1.0960,1.1380,4.5021,1.0471,1.0668,31.3661,68.6339,26.0411,0.4937,98.4590,93.3959,6.6041,-0.6108,0.0471,20.9887,199.4281,5.7842,54.9601,NaN,-0.5705,1006.7114,0.9624,0.2568,2.690942e+06,18.9394,27.1631,83.7166,0.2740,0.2471,0.2406,-163.1743,-63.7363,-63.7363,-587.0763,-73.7875,-71.9394,-28.6733,176.12,-1056.7178,-94.1454,0.4477,-1.1464,0.4475,-78.2586,-78.2586,-78.2586,-62.9020,1118.2977
3,000004.SZ,20200428,20191231,0.0369,0.0369,0.6558,0.6558,7.2531,0.0813,0.0858,2.982474e+07,-2.672537e+07,7.903111e+07,5.6213,5.6213,5.3673,0.7426,0.2767,67.2323,0.1173,-2.688865e+07,4.379220e+06,8.595930e+06,-1.491209e+08,-1.491209e+08,8.556463e+07,4.468590e+06,0.000000e+00,-1.478436e+08,3.789435e+08,3.954199e+08,2.475763e+08,1.404457e+09,2.757615e+07,0.0188,8.4202,-0.0962,0.1671,0.5980,0.0265,-0.9035,-0.9035,-3.3294,73.0102,26.9898,94.4648,-3.3294,76.7700,19.2389,-1.5441,NaN,124.8402,6.7443,4.0456,0.4135,2.80,-3.5657,0.4745,-0.3905,-0.3064,0.4135,0.4745,6.0243,1.0641,1.2313,32.1838,67.8162,25.3560,0.0000,98.9548,95.0367,4.9633,-0.1855,0.0641,15.4363,NaN,4.2089,NaN,NaN,-0.1763,484.7832,-0.3905,0.3359,2.671413e+06,5.5966,0.0000,10257.5638,1.7515,-0.8807,1.1627,-8458.2549,115.2858,115.2858,84.8456,130.5964,123.2112,115.2898,-16.17,70.2291,101.2018,547.3093,325.5655,1172.2736,-70.4944,-70.4944,-99.9359,235.3327,1172.2736
4,000002.SZ,20200318,20191231,3.4700,3.4700,32.5508,32.5508,1.0958,6.2666,8.4366,5.576994e+08,3.831439e+10,1.333435e+11,1.1307,0.4259,0.3264,205.8576,0.2691,30.7428,0.2258,7.170719e+10,8.226415e+10,8.638367e+10,2.448782e+10,1.739260e+10,1.176099e+12,2.277476e+10,2.604767e+11,9.428215e+10,1.519051e+11,1.663791e+11,9.669592e+10,5.310559e+11,1.661783e+11,3.4394,16.6392,4.0423,14.7033,-1.4094,7.2786,2.1667,1.5389,14.9857,36.2451,63.7549,7.3025,14.9857,2.4585,3.2849,1.5591,-0.4482,80.5087,20.8248,22.3608,22.6117,22.47,22.2873,5.0492,3.3839,11.5225,22.6117,5.0492,84.3590,6.3935,9.4773,83.1820,16.8180,8.7810,49.0488,35.4122,87.2039,12.7961,0.0359,5.3934,0.1289,0.7220,0.1041,0.5832,1.6112,0.0313,1265.7937,3.3839,2.3859,9.014436e+10,20.8047,2.5913,78.0783,11.6124,11.3352,1.5758,30.5269,13.3987,13.3987,32.7346,13.5033,13.4584,15.0993,14.41,35.8991,-4.6661,17.9200,13.1724,20.7329,23.5873,23.5873,18.3482,145.6742,20.7329
5,000001.SZ,20200214,20191231,1.5400,1.4500,7.1090,7.1090,4.1645,0.5555,5.8420,1.090000e+08,2.808600e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0375,2.514500e+10,NaN,NaN,1.842306e+11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.241510e+11,1.4529,14.0696,-2.0600,6.3976,0.8893,NaN,NaN,NaN,20.4374,NaN,NaN,NaN,20.4374,NaN,29.6119,NaN,NaN,NaN,26.3044,NaN,10.1966,11.30,10.1572,NaN,0.7664,NaN,10.1966,NaN,92.0544,12.5856,13.3044,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.5856,0.0863,NaN,NaN,NaN,NaN,-0.0110,NaN,0.7664,0.7664,1.133900e+10,26.2689,NaN,NaN,1.5220,1.5170,0.1196,-355.7286,10.7914,4.3165,38.3234,12.3325,12.4383,13.6071,13.70,30.1764,-12.8692,9.8000,15.2249,30.3868,18.1997,18.1997,16.4648,-47.7707,30.3868

In [80]:
df_new = pd.merge(df_stock_lists.loc[:,['ts_code','name']], df,  on='ts_code')

In [63]:
from sqlalchemy import create_engine
engine = create_engine('mysql+pymysql://root:00000@localhost:3306/stocks')

In [68]:
df_new.to_sql('fina_indicator', engine, if_exists='append')

In [76]:
df.shape

(1051, 108)

# ts

In [1]:
import tushare as ts
import numpy as np

In [37]:
import time

In [38]:
stock_list = list(ts.get_stock_basics().index)
indexes = []
for s in stock_list[:30]:
    df = ts.get_profit_statement(s)
    indexes.append(df.iloc[:,0])
    time.sleep(np.random.rand())
# df = ts.get_report_data(2019, 3)

In [59]:
df = ts.get_cash_flow('600779')

In [13]:
# ts.get_balance_sheet('601696')
# ts.get_profit_statement('601696')
df = ts.get_cash_flow('600779')

In [22]:
df1 = ts.get_cash_flow('300063')
df2 = ts.get_cash_flow('000757')
df3 = ts.get_cash_flow('600086')

In [28]:
len(df3.iloc[:,0])

76

In [60]:
df = df.drop(0, axis=0)
df.index = df.iloc[:, 0]
df = df.drop('报表日期', axis=1).T
df = df.astype(float) / 1000000

df['code'] = code
df['date'] = df.index
df['code_date'] = code + '_' + df.index

df.reset_index(drop=True, inplace=True)

In [63]:
df1 = df[df.date=='20181231']

In [ ]:
df1.to_dict('records')

In [50]:
dfb = pd.concat([df.iloc[:, :1],df1.iloc[:, :1],df2.iloc[:, :1],], axis=1)

In [58]:
np.sum(df1.iloc[:, :1] != df.iloc[:, :1])

报表日期    0
dtype: int64

In [54]:
code = '600779'

df = ts.get_balance_sheet(code)
df = df.drop(0, axis=0)
df.index = df.iloc[:,0]


df = df.drop('报表日期', axis=1).T
df = df.astype(float)/1000000

df['code_date'] = code + '_' + df.index

df.reset_index(drop=True, inplace=True)

df.to_sql('lrb', engine, if_exists='replace')

In [ ]:
df.to_sql('lrb',engine, if_exists='replace',
            dtype={'code_datede':VARCHAR(df.index.get_level_values('cocode_datede').str.len().max())})

In [68]:
df['code_date'] = df.code + '_' + df.report_date

In [ ]:
df['code'] = '600779'

In [4]:
from sqlalchemy import create_engine,VARCHAR, CHAR
engine = create_engine('mysql+pymysql://root:00000@localhost:3306/stocks')

In [34]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
collection = myclient.stocks['lrb']

collection.insert_many(df.to_dict('records'))

## 季度数据

In [1]:
import tushare as ts

In [2]:
df = ts.get_profit_data(2019,4)

[Getting data:]#################################################################

In [3]:
df.shape

(3858, 9)

In [4]:
from sqlalchemy import create_engine,VARCHAR, CHAR
engine = create_engine('mysql+pymysql://root:00000@localhost:3306/stocks')

In [5]:
df.to_sql('profit_data', engine)

D:\Miniconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1366, "Incorrect string value: '\\xD6\\xD0\\xB9\\xFA\\xB1\\xEA...' for column 'VARIABLE_VALUE' at row 1")
  result = self._query(query)

In [ ]:
df = ts.get_today_all()