In [2]:
import tushare as ts

In [39]:
pro = ts.pro_api()

df = pro.balancesheet(ts_code='603589.SH')
df.groupby(['ts_code','end_date']).apply(lambda t:t[t.fix_assets==t.fix_assets.max()])#head(1)

In [47]:
df1 = df[df.end_date>'20190331']

In [50]:
df1.groupby(['ts_code','end_date']).apply(lambda t:t[t.fix_assets==t.fix_assets.max()])#head(1)

                        ts_code  ann_date f_ann_date  end_date report_type  \
ts_code   end_date
603589.SH 20190630 5  603589.SH  20190828   20190828  20190630           1
          20191231 2  603589.SH  20200428   20200428  20191231           1
          20200630 0  603589.SH  20200828   20200828  20200630           1

                     comp_type  total_share      cap_rese  undistr_porfit  \
ts_code   end_date
603589.SH 20190630 5         1  600000000.0  9.768824e+08    4.225749e+09
          20191231 2         1  600000000.0  9.768824e+08    5.075277e+09
          20200630 0         1  600000000.0  9.768824e+08    4.661602e+09

                      surplus_rese  ... lt_payroll_payable  oth_comp_income  \
ts_code   end_date                  ...
603589.SH 20190630 5  3.595941e+08  ...               None             None
          20191231 2  3.595941e+08  ...               None             None
          20200630 0  3.595941e+08  ...               None             None

                      oth_eqt_tools  oth_eqt_tools_p_shr  lending_funds  \
ts_code   end_date
603589.SH 20190630 5           None                 None           None
          20191231 2           None                 None           None
          20200630 0           None                 None           None

                      acc_receivable  st_fin_payable  payables  hfs_assets  \
ts_code   end_date
603589.SH 20190630 5            None            None      None        None
          20191231 2            None            None      None        None
          20200630 0            None            None      None        None

                      hfs_sales
ts_code   end_date
603589.SH 20190630 5       None
          20191231 2       None
          20200630 0       None

[3 rows x 137 columns]

In [60]:
df['sumv'] = df.fillna(0).sum(axis=1)

In [73]:
df = df.groupby(['ts_code','end_date']).apply(lambda t:t[t.sumv==t.sumv.max()]).reset_index(drop=True).groupby(['ts_code','end_date']).head(1)
#.groupby(['ts_code','end_date']).head(1)

,ts_code,ann_date,f_ann_date,end_date,report_type,comp_type,total_share,cap_rese,undistr_porfit,surplus_rese,...,oth_eqt_tools,oth_eqt_tools_p_shr,lending_funds,acc_receivable,st_fin_payable,payables,hfs_assets,hfs_sales,sum,sumv
26,603589.SH,20200828,20200828,20200630,1,1,600000000.0,9.768824e+08,4.661602e+09,3.595941e+08,...,None,None,None,None,None,None,None,None,5.609727e+10,1.121945e+11
25,603589.SH,20200428,20200428,20200331,1,1,600000000.0,9.768824e+08,5.318473e+09,3.595941e+08,...,None,None,None,None,None,None,None,None,5.949536e+10,1.189907e+11
24,603589.SH,20200428,20200428,20191231,1,1,600000000.0,9.768824e+08,5.075277e+09,3.595941e+08,...,None,None,None,None,None,None,None,None,6.650928e+10,1.330186e+11
22,603589.SH,20191029,20191029,20190930,1,1,600000000.0,9.768824e+08,4.626466e+09,3.595941e+08,...,None,None,None,None,None,None,None,None,5.564102e+10,1.112820e+11
21,603589.SH,20190828,20190828,20190630,1,1,600000000.0,9.768824e+08,4.225749e+09,3.595941e+08,...,None,None,None,None,None,None,None,None,5.555680e+10,1.111136e+11
20,603589.SH,20190418,20190418,20190331,1,1,600000000.0,9.768824e+08,4.775771e+09,3.595941e+08,...,None,None,None,None,None,None,None,None,5.803876e+10,1.160775e+11
19,603589.SH,20190418,20190418,20181231,1,1,600000000.0,9.768824e+08,4.230921e+09,3.595941e+08,...,None,None,None,None,None,None,None,None,6.189579e+10,1.237916e+11
18,603589.SH,20181030,20181030,20180930,1,1,600000000.0,9.768824e+08,3.839631e+09,3.595941e+08,...,None,None,None,None,None,None,None,None,5.047561e+10,1.009512e+11
17,603589.SH,20180816,20180816,20180630,1,1,600000000.0,9.768824e+08,3.431573e+09,3.595941e+08,...,None,None,None,None,None,None,None,None,5.352285e+10,1.070457e+11
16,603589.SH,20180427,20180427,20180331,1,1,600000000.0,9.768824e+08,3.596935e+09,3.595941e+08,...,None,None,None,None,None,None,None,None,5.053080e+10,1.010616e+11
15,603589.SH,20180427,20180427,20171231,1,1,600000000.0,9.768824e+08,3.148258e+09,3.595941e+08,...,None,None,None,None,None,None,None,None,5.373450e+10,1.074690e+11
14,603589.SH,20171030,20171030,20170930,1,1,600000000.0,9.768824e+08,3.028934e+09,2.662604e+08,...,None,None,None,None,None,None,None,None,4.623386e+10,9.246772e+10
13,603589.SH,20170825,20170825,20170630,1,1,600000000.0,9.768824e+08,2.653789e+09,2.662604e+08,...,None,None,None,None,None,None,None,None,4.326079e+10,8.652159e+10
12,603589.SH,20170428,20170428,20170331,1,1,600000000.0,9.768824e+08,2.724954e+09,2.662604e+08,...,None,None,None,None,None,None,None,None,4.147403e+10,8.294807e+10
11,603589.SH,20170428,20170428,20161231,1,1,600000000.0,9.768824e+08,2.397928e+09,2.662604e+08,...,None,None,None,None,None,None,None,None,3.983032e+10,7.966064e+10
10,603589.SH,20161027,20161027,20160930,1,1,600000000.0,9.768824e+08,2.394621e+09,1.984992e+08,...,None,None,None,None,None,None,None,None,3.750354e+10,7.500709e+10
9,603589.SH,20160825,20160825,20160630,1,1,600000000.0,9.768824e+08,2.087147e+09,1.984992e+08,...,None,None,None,None,None,None,None,None,3.507595e+10,7.015190e+10
8,603589.SH,20160428,20160428,20160331,1,1,600000000.0,9.768824e+08,2.162943e+09,1.984992e+08,...,None,None,None,None,None,None,None,None,3.550575e+10,7.101149e+10
7,603589.SH,20160428,20160428,20151231,1,1,600000000.0,9.768824e+08,1.892225e+09,1.984992e+08,...,None,None,None,None,None,None,None,None,3.483633e+10,6.967267e+10
6,603589.SH,20151029,20151029,20150930,1,1,600000000.0,9.768824e+08,1.875180e+09,1.489778e+08,...,None,None,None,None,None,None,None,None,3.350990e+10,6.701980e+10
5,603589.SH,20150826,20150826,20150630,1,1,600000000.0,9.768824e+08,1.607958e+09,1.489778e+08,...,None,None,None,None,None,None,None,None,3.274766e+10,6.549532e+10
4,603589.SH,20150610,20150610,20150331,1,1,NaN,NaN,NaN,NaN,...,None,None,None,None,None,None,None,None,1.860816e+10,3.721633e+10
3,603589.SH,20150610,20150610,20141231,1,1,540000000.0,1.455110e+08,1.444350e+09,1.489778e+08,...,None,None,None,None,None,None,None,None,2.563137e+10,5.126275e+10
2,603589.SH,20150610,20150610,20131231,1,1,540000000.0,1.455110e+08,1.171303e+09,1.078850e+08,...,None,None,None,None,None,None,None,None,2.518296e+10,5.036592e+10
1,603589.SH,20150610,20150610,20121231,1,1,540000000.0,1.455110e+08,8.955314e+08,6.648971e+07,...,None,None,None,None,None,None,None,None,2.158854e+10,4.317708e+10
0,603589.SH,20140514,20140514,20111231,1,1,540000000.0,1.455110e+08,5.275658e+08,3.248204e+07,...,None,None,None,None,None,None,None,None,1.709756e+10,3.419512e+10

In [51]:
df = pro.balancesheet(ts_code='603589.SH')

In [55]:
df[df.end_date=='20190930'].T.to_csv('abc.csv')

In [46]:
df.to_csv('abc.csv')

In [10]:
df.iloc[:,6:] = df.iloc[:,6:].astype('float')/1e9

In [13]:
df[['notes_receiv','accounts_receiv','oth_receiv']].sum(axis=1) /

0     0.157890
1     0.648766
2     0.399245
3     0.399245
4     0.571706
5     0.599154
6     0.847493
7     0.851763
8     0.501882
9     0.555630
10    0.439694
11    0.726271
12    0.586568
13    0.462000
14    0.402136
15    0.338872
16    0.490040
17    0.435780
18    0.421610
19    0.235593
20    0.399093
21    0.321638
22    0.000000
23    0.308326
24    0.488264
25    0.407254
26    0.408038
dtype: float64

In [18]:
df1 = df.iloc[:2,:]

In [21]:
df2 = df1.T

In [28]:
df2[~((df2[0] == df2[1]) and ~(df2[0].isna()))]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().